@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

* {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    padding: 2px;
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    color: #000;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

@media(min-width: 681px) {
    body {
        display: block;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
}

@media(min-width: 729px) {
}